[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ThreeArmedTrials"]
	path = ThreeArmedTrials
	url = https://github.com/tobiasmuetze/threearmedtrials
	shallow = true
	registered = true
